# python=3.10
yt-dlp==2023.10.7
pydub==0.25.1
moviepy==1.0.3
faster-whisper==0.9.0
# VinAI translate
transformers==4.35.0
sentencepiece==0.1.99
tokenizers==0.14.1
nltk==3.8.1
#---end---
torch==2.1.0
torchaudio==2.1.0
torchcrepe==0.0.22
torchmetrics==1.2.0
torchvision==0.16.0
# -------
so-vits-svc-fork